.headerBar{
    height: 100%;
    display: flex;
    background-color: #EAE7DC;
    margin-top: 10px;
    margin-right: 20px;
    /*align-items: center;*/
    justify-content:flex-end;

}
.beforeLogged{
}
.logIn{
    /*align-items: center;*/
    width: 150px;
    font-size: calc(3vmin);
    margin-right: 20px;
}
.registration{
    width: 150px;
    /*align-items: center;*/
    margin-right: 20px;
}

.userButton{
    align-items: center;
    margin-right: 8vh;
}