.EditArea{
    display: grid;
    grid-template-columns: 45% 55%;
}
.inputArea{
    background: aquamarine;
    display: grid;
    grid-template-rows: 20% 70% 10%;
}
.inputBoxes{
    display: grid;
    grid-template-rows: repeat(auto-fill, 60px);
    overflow: auto;
}

.addButton{

}

