.EditArea{
    display: grid;
    grid-template-columns: 50% 50%;

}

.imageArea{
    display: grid;
    grid-row-gap:5px;
}
.image{
    width: 100%;
}

.scrollBar{
    display: grid;
    height: 120px;
}
.imageTitle{
    height: 20px;
    font-weight: bold;
}
.scrollImages{
    height: 100%;
    display: inline-block;
    overflow: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.scrollSingleImage{
    height: 100%;
    display: inline-block;
    border: 2px solid #000;
    margin-right: 5px;
}

.displayArea{
    /*background: crimson;*/
}

.buttonsArea{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 40px;
}

.inputArea{
    background: aquamarine;
}