.EditArea{
    display: grid;
    grid-template-columns: 50% 50%;

}

.imageArea{
    display: grid;
    grid-row-gap:5px;
}
img{
    width: 100%;
}

.scrollBar{
    background: #5196A6;;
    height: 100px;
}

.displayArea{
    /*background: crimson;*/
}

.buttonsArea{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 40px;
}

.inputArea{
    background: aquamarine;
}