.CommentsArea{
    display: grid;
    background: antiquewhite;
    grid-template-rows: auto 140px;
    grid-row-gap: 10px;
}

.CommentsList{
}

.AddNewComment{

}
.commentBeforeLogin{
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-items: center;
}

.closedComment{
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}